<!DOCTYPE html>
<html lang="pt-br" ng-app="crud">

<head>
    <meta charset="UTF-8">
    <title>Cadastro de Clientes</title>
    <link rel="stylesheet" type="text/css" href="lib/bootstrap/bootstrap.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="lib/angular/angular.min.js"></script>
    <script src="lib/angular/app.js"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;700&display=swap');
    </style>
</head>


<body ng-controller="controller" style="background-color:rgba(30, 38, 49, 0.75)">

    <div class="container">
        <div class="header">
            <h2>Novo Cadastro</h2>
        </div>
        <div class="body">
            <form name="cad_form">
                <div class="form-group">
                    <label>Nome</label>
                    <input type="text" class="form-control" placeholder="Informe o nome do cliente."
                        ng-model="novoCliente.nome" ng-required="true" name="nome">
                </div>

                <div class="form-group">
                    <label>Telefone</label>
                    <input type="tel" class="form-control" placeholder="Informe o telefone do cliente."
                        ng-model="novoCliente.telefone" ng-required="true" name="telefone">
                </div>

                <div class="form-group">
                    <label>E-mail</label>
                    <input type="email" class="form-control" placeholder="Informe o e-mail do cliente."
                        ng-model="novoCliente.email" ng-required="true" name="email">
                </div>
            </form>
            <div ng-show="cad_form.nome.$invalid && cad_form.nome.$dirty" class="alert alert-danger">
                Por favor, preencha o campo nome.
            </div>
            <div ng-show="cad_form.telefone.$invalid && cad_form.telefone.$dirty" class="alert alert-danger">
                Por favor, preencha o campo telefone.
            </div>
            <div ng-show="cad_form.email.$invalid && cad_form.email.$dirty" class="alert alert-danger">
                Por favor, preencha o campo e-mail.
            </div>
            <div class="form-group">
                <div class="button">
                    <button type="submit" class="btn btn-primary" ng-click="salvar()"
                        ng-disabled="!novoCliente.nome || !novoCliente.telefone || !novoCliente.email">Salvar</button>
                </div>
            </div>

            <hr />
            <h2> Listagem de Clientes </h2>
            <input class="form-control" type="text" ng-model="Busca" placeholder="Procurar cliente"/>
            <div class='tabela'>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th style="border: 0px;">Nome</th>
                            <th style="border: 0px;">Telefone</th>
                            <th style="border: 0px;">E-mail</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr ng-repeat="cliente in clientes | filter:Busca | orderBy:'nome'">
                            <td>{{cliente.nome}}</td>
                            <td>{{cliente.telefone}}</td>
                            <td>{{cliente.email}}</td>
                            <td>
                                <button type="button" class="btn btn-warning btn-block" data-toggle="modal"
                                    data-target="#myModalEditar" ng-click="selecionaCliente(cliente)">Editar</button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger btn-block" data-toggle="modal"
                                    data-target="#myModalExcluir" ng-click="selecionaCliente(cliente)">Excluir</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="myModalEditar" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Editar Cadastro</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <label class="control-label col-sm-2">Nome</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" placeholder="Nome..."
                                        ng-model="clienteSelecionado.nome">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-2">Telefone</label>
                                <div class="col-sm-10">
                                    <input type="tel" class="form-control" placeholder="Telefone..."
                                        ng-model="clienteSelecionado.telefone">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-2">E-mail</label>
                                <div class="col-sm-10">
                                    <input type="email" class="form-control" placeholder="E-mail..."
                                        ng-model="clienteSelecionado.email">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-primary" ng-click="alterarCliente()"
                                        data-dismiss="modal">Salvar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                    </div>
                </div>

            </div>
        </div>


        <!-- Modal -->
        <div class="modal fade" id="myModalExcluir" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Você tem certeza?</h4>
                    </div>
                    <div class="modal-body">
                        <h4 style="font-weight: bolder"> Você vai excluir o Cadastro de {{clienteSelecionado.nome}}</h4>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="excluirCliente()"
                            data-dismiss="modal">Sim</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Não</button>
                    </div>
                </div>

            </div>
        </div>

</body>

</html>